In [38]:
import pandas as pd
import numpy as np

In [39]:
data = pd.read_csv(r'C:\Users\hp\Desktop\Data sceince projects\Company_dirty2.csv.csv', encoding='latin1')

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      30 non-null     int64
 1   Name            30 non-null     object
 2   Email           30 non-null     object
 3   Age             30 non-null     float64
 4   Country         30 non-null     object
 5   PurchaseAmount  21 non-null     float64
 6   SignupDate      30 non-null     object
dtypes: float64(2), int64(1), object(4)
memory usage: 1.8+ KB

In [41]:
data['Age'] = np.where(data["Age"] < 18 , np.nan ,data['Age'] )

In [42]:
data['Age'] = np.where(data['Age'] > 100, np.nan, data['Age'])

In [43]:
data['PurchaseAmount'] = np.where(data['PurchaseAmount'] < 0, np.nan, data['PurchaseAmount'])
data

,CustomerID,Name,Email,Age,Country,PurchaseAmount,SignupDate
0,1,Jane Smith,jane.smith@example.com,NaN,Naija,106.98,2022-10-17
1,2,Michael Johnson,michael.johnson@gmail,19.00,Nigeria,281.00,01-06-2023
2,3,Fatima Bello,fatima.bello@gmail,43.57,UK,412.02,11-23-2019
3,4,Samuel Okon,samuel.okon@company.com,NaN,Naija,NaN,2019-07-29
4,5,Grace Lee,grace.lee@company.com,NaN,Nigeria,1405.41,11/06/2019
5,6,Michael Johnson,michael.johnson@company.com,NaN,Ghana,NaN,2023-05-03
6,7,Jane Smith,jane.smith@gmail,43.57,Ghana,1635.04,03-05-2020
7,8,David James,david.james@example.com,NaN,UK,1404.08,07-06-2020
8,9,Fatima Bello,fatima.bello@domain,56.00,Naija,NaN,2021-04-01
9,10,Michael Johnson,michael.johnson@company.com,43.57,USA,NaN,2019-10-20
10,11,Fatima Bello,fatima.bello@,43.57,UK,678.68,2019-10-11
11,12,John Doe,john.doe@example.com,NaN,Ghana,728.75,20/02/2021
12,13,Fatima Bello,fatima.bello@company.com,85.00,Ghana,NaN,2023-04-24
13,14,David James,david.james@gmail,43.57,Nigeria,NaN,01-01-2020
14,15,Jane Smith,jane.smith@company.com,NaN,Naija,622.61,2022-01-09
15,16,Michael Johnson,michael.johnson@company.com,77.00,Nigeria,NaN,05-08-2020
16,17,Jane Smith,jane.smith@example.com,77.00,UK,1484.84,2022-09-13
17,18,David James,david.james@,43.57,Naija,1843.61,03-28-2021
18,19,Grace Lee,grace.lee@gmail,43.57,Nigeria,345.39,04-19-2022
19,20,Maryam Yusuf,maryam.yusuf@,43.00,Nigeria,1357.25,19/05/2019
20,21,Jane Smith,jane.smith@,NaN,Ghana,867.91,03-15-2022
21,22,Chinedu Obi,chinedu.obi@domain,43.57,Naija,NaN,17/05/2021
22,23,John Doe,john.doe@example.com,43.57,Ghana,546.47,01-25-2020
23,24,Chinedu Obi,chinedu.obi@domain,NaN,NGR,817.78,10-31-2023
24,25,Jane Smith,jane.smith@example.com,98.00,Nigeria,1838.01,12/04/2021
25,26,Maryam Yusuf,maryam.yusuf@gmail,NaN,USA,NaN,25/05/2023
26,27,David James,david.james@gmail,43.57,Naija,217.78,02-15-2023
27,28,John Doe,john.doe@company.com,22.00,UK,848.93,2019-04-27
28,29,Jane Smith,jane.smith@,NaN,USA,63.75,03-23-2019
29,30,Jane Smith,jane.smith@gmail,NaN,NGR,NaN,2020-05-03

In [44]:
data.drop_duplicates(inplace=Tru

_IncompleteInputError: incomplete input (2830444641.py, line 1)

In [ ]:
data

,CustomerID,Name,Email,Age,Country,PurchaseAmount,SignupDate
0,1,Jane Smith,jane.smith@example.com,NaN,Naija,106.98,2022-10-17
1,2,Michael Johnson,michael.johnson@gmail,19.00,Nigeria,281.00,01-06-2023
2,3,Fatima Bello,fatima.bello@gmail,43.57,UK,412.02,11-23-2019
3,4,Samuel Okon,samuel.okon@company.com,NaN,Naija,NaN,2019-07-29
4,5,Grace Lee,grace.lee@company.com,NaN,Nigeria,1405.41,11/06/2019
5,6,Michael Johnson,michael.johnson@company.com,NaN,Ghana,NaN,2023-05-03
6,7,Jane Smith,jane.smith@gmail,43.57,Ghana,1635.04,03-05-2020
7,8,David James,david.james@example.com,NaN,UK,1404.08,07-06-2020
8,9,Fatima Bello,fatima.bello@domain,56.00,Naija,NaN,2021-04-01
9,10,Michael Johnson,michael.johnson@company.com,43.57,USA,NaN,2019-10-20
10,11,Fatima Bello,fatima.bello@,43.57,UK,678.68,2019-10-11
11,12,John Doe,john.doe@example.com,NaN,Ghana,728.75,20/02/2021
12,13,Fatima Bello,fatima.bello@company.com,85.00,Ghana,NaN,2023-04-24
13,14,David James,david.james@gmail,43.57,Nigeria,NaN,01-01-2020
14,15,Jane Smith,jane.smith@company.com,NaN,Naija,622.61,2022-01-09
15,16,Michael Johnson,michael.johnson@company.com,77.00,Nigeria,NaN,05-08-2020
16,17,Jane Smith,jane.smith@example.com,77.00,UK,1484.84,2022-09-13
17,18,David James,david.james@,43.57,Naija,1843.61,03-28-2021
18,19,Grace Lee,grace.lee@gmail,43.57,Nigeria,345.39,04-19-2022
19,20,Maryam Yusuf,maryam.yusuf@,43.00,Nigeria,1357.25,19/05/2019
20,21,Jane Smith,jane.smith@,NaN,Ghana,867.91,03-15-2022
21,22,Chinedu Obi,chinedu.obi@domain,43.57,Naija,NaN,17/05/2021
22,23,John Doe,john.doe@example.com,43.57,Ghana,546.47,01-25-2020
23,24,Chinedu Obi,chinedu.obi@domain,NaN,NGR,817.78,10-31-2023
24,25,Jane Smith,jane.smith@example.com,98.00,Nigeria,1838.01,12/04/2021
25,26,Maryam Yusuf,maryam.yusuf@gmail,NaN,USA,NaN,25/05/2023
26,27,David James,david.james@gmail,43.57,Naija,217.78,02-15-2023
27,28,John Doe,john.doe@company.com,22.00,UK,848.93,2019-04-27
28,29,Jane Smith,jane.smith@,NaN,USA,63.75,03-23-2019
29,30,Jane Smith,jane.smith@gmail,NaN,NGR,NaN,2020-05-03

In [45]:
data['Age'].fillna(0, inplace = True)
data

C:\Users\hp\AppData\Local\Temp\ipykernel_736\1566325126.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Age'].fillna(0, inplace = True)

,CustomerID,Name,Email,Age,Country,PurchaseAmount,SignupDate
0,1,Jane Smith,jane.smith@example.com,0.00,Naija,106.98,2022-10-17
1,2,Michael Johnson,michael.johnson@gmail,19.00,Nigeria,281.00,01-06-2023
2,3,Fatima Bello,fatima.bello@gmail,43.57,UK,412.02,11-23-2019
3,4,Samuel Okon,samuel.okon@company.com,0.00,Naija,NaN,2019-07-29
4,5,Grace Lee,grace.lee@company.com,0.00,Nigeria,1405.41,11/06/2019
5,6,Michael Johnson,michael.johnson@company.com,0.00,Ghana,NaN,2023-05-03
6,7,Jane Smith,jane.smith@gmail,43.57,Ghana,1635.04,03-05-2020
7,8,David James,david.james@example.com,0.00,UK,1404.08,07-06-2020
8,9,Fatima Bello,fatima.bello@domain,56.00,Naija,NaN,2021-04-01
9,10,Michael Johnson,michael.johnson@company.com,43.57,USA,NaN,2019-10-20
10,11,Fatima Bello,fatima.bello@,43.57,UK,678.68,2019-10-11
11,12,John Doe,john.doe@example.com,0.00,Ghana,728.75,20/02/2021
12,13,Fatima Bello,fatima.bello@company.com,85.00,Ghana,NaN,2023-04-24
13,14,David James,david.james@gmail,43.57,Nigeria,NaN,01-01-2020
14,15,Jane Smith,jane.smith@company.com,0.00,Naija,622.61,2022-01-09
15,16,Michael Johnson,michael.johnson@company.com,77.00,Nigeria,NaN,05-08-2020
16,17,Jane Smith,jane.smith@example.com,77.00,UK,1484.84,2022-09-13
17,18,David James,david.james@,43.57,Naija,1843.61,03-28-2021
18,19,Grace Lee,grace.lee@gmail,43.57,Nigeria,345.39,04-19-2022
19,20,Maryam Yusuf,maryam.yusuf@,43.00,Nigeria,1357.25,19/05/2019
20,21,Jane Smith,jane.smith@,0.00,Ghana,867.91,03-15-2022
21,22,Chinedu Obi,chinedu.obi@domain,43.57,Naija,NaN,17/05/2021
22,23,John Doe,john.doe@example.com,43.57,Ghana,546.47,01-25-2020
23,24,Chinedu Obi,chinedu.obi@domain,0.00,NGR,817.78,10-31-2023
24,25,Jane Smith,jane.smith@example.com,98.00,Nigeria,1838.01,12/04/2021
25,26,Maryam Yusuf,maryam.yusuf@gmail,0.00,USA,NaN,25/05/2023
26,27,David James,david.james@gmail,43.57,Naija,217.78,02-15-2023
27,28,John Doe,john.doe@company.com,22.00,UK,848.93,2019-04-27
28,29,Jane Smith,jane.smith@,0.00,USA,63.75,03-23-2019
29,30,Jane Smith,jane.smith@gmail,0.00,NGR,NaN,2020-05-03

In [46]:
data['Age'].fillna(data['Age'].mean(), inplace = True)
data

C:\Users\hp\AppData\Local\Temp\ipykernel_736\1047361643.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Age'].fillna(data['Age'].mean(), inplace = True)

,CustomerID,Name,Email,Age,Country,PurchaseAmount,SignupDate
0,1,Jane Smith,jane.smith@example.com,0.00,Naija,106.98,2022-10-17
1,2,Michael Johnson,michael.johnson@gmail,19.00,Nigeria,281.00,01-06-2023
2,3,Fatima Bello,fatima.bello@gmail,43.57,UK,412.02,11-23-2019
3,4,Samuel Okon,samuel.okon@company.com,0.00,Naija,NaN,2019-07-29
4,5,Grace Lee,grace.lee@company.com,0.00,Nigeria,1405.41,11/06/2019
5,6,Michael Johnson,michael.johnson@company.com,0.00,Ghana,NaN,2023-05-03
6,7,Jane Smith,jane.smith@gmail,43.57,Ghana,1635.04,03-05-2020
7,8,David James,david.james@example.com,0.00,UK,1404.08,07-06-2020
8,9,Fatima Bello,fatima.bello@domain,56.00,Naija,NaN,2021-04-01
9,10,Michael Johnson,michael.johnson@company.com,43.57,USA,NaN,2019-10-20
10,11,Fatima Bello,fatima.bello@,43.57,UK,678.68,2019-10-11
11,12,John Doe,john.doe@example.com,0.00,Ghana,728.75,20/02/2021
12,13,Fatima Bello,fatima.bello@company.com,85.00,Ghana,NaN,2023-04-24
13,14,David James,david.james@gmail,43.57,Nigeria,NaN,01-01-2020
14,15,Jane Smith,jane.smith@company.com,0.00,Naija,622.61,2022-01-09
15,16,Michael Johnson,michael.johnson@company.com,77.00,Nigeria,NaN,05-08-2020
16,17,Jane Smith,jane.smith@example.com,77.00,UK,1484.84,2022-09-13
17,18,David James,david.james@,43.57,Naija,1843.61,03-28-2021
18,19,Grace Lee,grace.lee@gmail,43.57,Nigeria,345.39,04-19-2022
19,20,Maryam Yusuf,maryam.yusuf@,43.00,Nigeria,1357.25,19/05/2019
20,21,Jane Smith,jane.smith@,0.00,Ghana,867.91,03-15-2022
21,22,Chinedu Obi,chinedu.obi@domain,43.57,Naija,NaN,17/05/2021
22,23,John Doe,john.doe@example.com,43.57,Ghana,546.47,01-25-2020
23,24,Chinedu Obi,chinedu.obi@domain,0.00,NGR,817.78,10-31-2023
24,25,Jane Smith,jane.smith@example.com,98.00,Nigeria,1838.01,12/04/2021
25,26,Maryam Yusuf,maryam.yusuf@gmail,0.00,USA,NaN,25/05/2023
26,27,David James,david.james@gmail,43.57,Naija,217.78,02-15-2023
27,28,John Doe,john.doe@company.com,22.00,UK,848.93,2019-04-27
28,29,Jane Smith,jane.smith@,0.00,USA,63.75,03-23-2019
29,30,Jane Smith,jane.smith@gmail,0.00,NGR,NaN,2020-05-03

In [49]:
data['Age'].replace(0.00, data['Age'].mean(), inplace= True)
data

C:\Users\hp\AppData\Local\Temp\ipykernel_736\334888419.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Age'].replace(0.00, data['Age'].mean(), inplace= True)

,CustomerID,Name,Email,Age,Country,PurchaseAmount,SignupDate
0,1,Jane Smith,jane.smith@example.com,30.423333,Naija,106.98,2022-10-17
1,2,Michael Johnson,michael.johnson@gmail,19.000000,Nigeria,281.00,01-06-2023
2,3,Fatima Bello,fatima.bello@gmail,43.570000,UK,412.02,11-23-2019
3,4,Samuel Okon,samuel.okon@company.com,30.423333,Naija,NaN,2019-07-29
4,5,Grace Lee,grace.lee@company.com,30.423333,Nigeria,1405.41,11/06/2019
5,6,Michael Johnson,michael.johnson@company.com,30.423333,Ghana,NaN,2023-05-03
6,7,Jane Smith,jane.smith@gmail,43.570000,Ghana,1635.04,03-05-2020
7,8,David James,david.james@example.com,30.423333,UK,1404.08,07-06-2020
8,9,Fatima Bello,fatima.bello@domain,56.000000,Naija,NaN,2021-04-01
9,10,Michael Johnson,michael.johnson@company.com,43.570000,USA,NaN,2019-10-20
10,11,Fatima Bello,fatima.bello@,43.570000,UK,678.68,2019-10-11
11,12,John Doe,john.doe@example.com,30.423333,Ghana,728.75,20/02/2021
12,13,Fatima Bello,fatima.bello@company.com,85.000000,Ghana,NaN,2023-04-24
13,14,David James,david.james@gmail,43.570000,Nigeria,NaN,01-01-2020
14,15,Jane Smith,jane.smith@company.com,30.423333,Naija,622.61,2022-01-09
15,16,Michael Johnson,michael.johnson@company.com,77.000000,Nigeria,NaN,05-08-2020
16,17,Jane Smith,jane.smith@example.com,77.000000,UK,1484.84,2022-09-13
17,18,David James,david.james@,43.570000,Naija,1843.61,03-28-2021
18,19,Grace Lee,grace.lee@gmail,43.570000,Nigeria,345.39,04-19-2022
19,20,Maryam Yusuf,maryam.yusuf@,43.000000,Nigeria,1357.25,19/05/2019
20,21,Jane Smith,jane.smith@,30.423333,Ghana,867.91,03-15-2022
21,22,Chinedu Obi,chinedu.obi@domain,43.570000,Naija,NaN,17/05/2021
22,23,John Doe,john.doe@example.com,43.570000,Ghana,546.47,01-25-2020
23,24,Chinedu Obi,chinedu.obi@domain,30.423333,NGR,817.78,10-31-2023
24,25,Jane Smith,jane.smith@example.com,98.000000,Nigeria,1838.01,12/04/2021
25,26,Maryam Yusuf,maryam.yusuf@gmail,30.423333,USA,NaN,25/05/2023
26,27,David James,david.james@gmail,43.570000,Naija,217.78,02-15-2023
27,28,John Doe,john.doe@company.com,22.000000,UK,848.93,2019-04-27
28,29,Jane Smith,jane.smith@,30.423333,USA,63.75,03-23-2019
29,30,Jane Smith,jane.smith@gmail,30.423333,NGR,NaN,2020-05-03

In [52]:
data['PurchaseAmount'].fillna(0, inplace=True)
data

,CustomerID,Name,Email,Age,Country,PurchaseAmount,SignupDate
0,1,Jane Smith,jane.smith@example.com,30.423333,Naija,106.98,2022-10-17
1,2,Michael Johnson,michael.johnson@gmail,19.000000,Nigeria,281.00,01-06-2023
2,3,Fatima Bello,fatima.bello@gmail,43.570000,UK,412.02,11-23-2019
3,4,Samuel Okon,samuel.okon@company.com,30.423333,Naija,0.00,2019-07-29
4,5,Grace Lee,grace.lee@company.com,30.423333,Nigeria,1405.41,11/06/2019
5,6,Michael Johnson,michael.johnson@company.com,30.423333,Ghana,0.00,2023-05-03
6,7,Jane Smith,jane.smith@gmail,43.570000,Ghana,1635.04,03-05-2020
7,8,David James,david.james@example.com,30.423333,UK,1404.08,07-06-2020
8,9,Fatima Bello,fatima.bello@domain,56.000000,Naija,0.00,2021-04-01
9,10,Michael Johnson,michael.johnson@company.com,43.570000,USA,0.00,2019-10-20
10,11,Fatima Bello,fatima.bello@,43.570000,UK,678.68,2019-10-11
11,12,John Doe,john.doe@example.com,30.423333,Ghana,728.75,20/02/2021
12,13,Fatima Bello,fatima.bello@company.com,85.000000,Ghana,0.00,2023-04-24
13,14,David James,david.james@gmail,43.570000,Nigeria,0.00,01-01-2020
14,15,Jane Smith,jane.smith@company.com,30.423333,Naija,622.61,2022-01-09
15,16,Michael Johnson,michael.johnson@company.com,77.000000,Nigeria,0.00,05-08-2020
16,17,Jane Smith,jane.smith@example.com,77.000000,UK,1484.84,2022-09-13
17,18,David James,david.james@,43.570000,Naija,1843.61,03-28-2021
18,19,Grace Lee,grace.lee@gmail,43.570000,Nigeria,345.39,04-19-2022
19,20,Maryam Yusuf,maryam.yusuf@,43.000000,Nigeria,1357.25,19/05/2019
20,21,Jane Smith,jane.smith@,30.423333,Ghana,867.91,03-15-2022
21,22,Chinedu Obi,chinedu.obi@domain,43.570000,Naija,0.00,17/05/2021
22,23,John Doe,john.doe@example.com,43.570000,Ghana,546.47,01-25-2020
23,24,Chinedu Obi,chinedu.obi@domain,30.423333,NGR,817.78,10-31-2023
24,25,Jane Smith,jane.smith@example.com,98.000000,Nigeria,1838.01,12/04/2021
25,26,Maryam Yusuf,maryam.yusuf@gmail,30.423333,USA,0.00,25/05/2023
26,27,David James,david.james@gmail,43.570000,Naija,217.78,02-15-2023
27,28,John Doe,john.doe@company.com,22.000000,UK,848.93,2019-04-27
28,29,Jane Smith,jane.smith@,30.423333,USA,63.75,03-23-2019
29,30,Jane Smith,jane.smith@gmail,30.423333,NGR,0.00,2020-05-03

In [55]:
data['PurchaseAmount'].replace(0.00, data['PurchaseAmount'].mean(), inplace=True)
data

,CustomerID,Name,Email,Age,Country,PurchaseAmount,SignupDate
0,1,Jane Smith,jane.smith@example.com,30.423333,Naija,106.980,2022-10-17
1,2,Michael Johnson,michael.johnson@gmail,19.000000,Nigeria,281.000,01-06-2023
2,3,Fatima Bello,fatima.bello@gmail,43.570000,UK,412.020,11-23-2019
3,4,Samuel Okon,samuel.okon@company.com,30.423333,Naija,583.543,2019-07-29
4,5,Grace Lee,grace.lee@company.com,30.423333,Nigeria,1405.410,11/06/2019
5,6,Michael Johnson,michael.johnson@company.com,30.423333,Ghana,583.543,2023-05-03
6,7,Jane Smith,jane.smith@gmail,43.570000,Ghana,1635.040,03-05-2020
7,8,David James,david.james@example.com,30.423333,UK,1404.080,07-06-2020
8,9,Fatima Bello,fatima.bello@domain,56.000000,Naija,583.543,2021-04-01
9,10,Michael Johnson,michael.johnson@company.com,43.570000,USA,583.543,2019-10-20
10,11,Fatima Bello,fatima.bello@,43.570000,UK,678.680,2019-10-11
11,12,John Doe,john.doe@example.com,30.423333,Ghana,728.750,20/02/2021
12,13,Fatima Bello,fatima.bello@company.com,85.000000,Ghana,583.543,2023-04-24
13,14,David James,david.james@gmail,43.570000,Nigeria,583.543,01-01-2020
14,15,Jane Smith,jane.smith@company.com,30.423333,Naija,622.610,2022-01-09
15,16,Michael Johnson,michael.johnson@company.com,77.000000,Nigeria,583.543,05-08-2020
16,17,Jane Smith,jane.smith@example.com,77.000000,UK,1484.840,2022-09-13
17,18,David James,david.james@,43.570000,Naija,1843.610,03-28-2021
18,19,Grace Lee,grace.lee@gmail,43.570000,Nigeria,345.390,04-19-2022
19,20,Maryam Yusuf,maryam.yusuf@,43.000000,Nigeria,1357.250,19/05/2019
20,21,Jane Smith,jane.smith@,30.423333,Ghana,867.910,03-15-2022
21,22,Chinedu Obi,chinedu.obi@domain,43.570000,Naija,583.543,17/05/2021
22,23,John Doe,john.doe@example.com,43.570000,Ghana,546.470,01-25-2020
23,24,Chinedu Obi,chinedu.obi@domain,30.423333,NGR,817.780,10-31-2023
24,25,Jane Smith,jane.smith@example.com,98.000000,Nigeria,1838.010,12/04/2021
25,26,Maryam Yusuf,maryam.yusuf@gmail,30.423333,USA,583.543,25/05/2023
26,27,David James,david.james@gmail,43.570000,Naija,217.780,02-15-2023
27,28,John Doe,john.doe@company.com,22.000000,UK,848.930,2019-04-27
28,29,Jane Smith,jane.smith@,30.423333,USA,63.750,03-23-2019
29,30,Jane Smith,jane.smith@gmail,30.423333,NGR,583.543,2020-05-03

In [75]:
data

0     Nigeria
1     Nigeria
2          UK
3     Nigeria
4     Nigeria
5       Ghana
6       Ghana
7          UK
8     Nigeria
9         USA
10         UK
11      Ghana
12      Ghana
13    Nigeria
14    Nigeria
15    Nigeria
16         UK
17    Nigeria
18    Nigeria
19    Nigeria
20      Ghana
21    Nigeria
22      Ghana
23        NGR
24    Nigeria
25        USA
26    Nigeria
27         UK
28        USA
29        NGR
Name: Country, dtype: object

In [71]:
data

0     Nigeria
1     Nigeria
2          UK
3     Nigeria
4     Nigeria
5       Ghana
6       Ghana
7          UK
8     Nigeria
9         USA
10         UK
11      Ghana
12      Ghana
13    Nigeria
14    Nigeria
15    Nigeria
16         UK
17    Nigeria
18    Nigeria
19    Nigeria
20      Ghana
21    Nigeria
22      Ghana
23        NGR
24    Nigeria
25        USA
26    Nigeria
27         UK
28        USA
29        NGR
Name: Country, dtype: object